.reward-container {
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-top: 1px dashed #e6e6e6;

  button {
    background: transparent;
    border: 1px solid #fc6423;
    border: 1px solid #555;
    border-radius: 5px;
    color: #555;
    cursor: pointer;
    line-height: 2;
    outline: 0;
    padding: 0 15px;
    vertical-align: text-top;

    &:hover {
      background: #555;
      border: 1px solid transparent;
      color: #fff;
    }
  }
}

#qr {
  padding-top: 20px;

  a {
    border: 0;
  }

  img {
    display: inline-block;
    margin: .8em 2em 0 2em;
    max-width: 100%;
    width: 180px;
  }

  p {
    text-align: center;
  }
}
