.sidebar-book {
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 280px;
  background: #fafafa;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-book-header {
  position: relative;
  flex: none;

  .title {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey-dark;
    text-align: center;
    font-size: 16px;
  }
}

.sidebar-book-body {
  position: relative;
  flex: auto;
  overflow: hidden;

  >div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .book-catalog-body {
    padding: 12px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

.book-toc-content {
  ul {
    list-style-type: none;
    padding-right: 10px;
    margin: 0;
    li {
      line-height: 30px;
      cursor: pointer;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      margin-bottom: 0.2em;
      .text {
        display: inline-block;
        line-height: 30px;
        word-break: keep-all;
        white-space: nowrap;
        color: #666;
        vertical-align: middle;
        text-align: center;
        position: relative;
        border-bottom: none;
      }
    }
  }

  .wholerow {
    width: 100%;
    position: absolute;
    left: 0;
    user-select: none;
    height: 30px;
  }
  .active {
    .wholerow {
      background: #e5e5e5;
    }
  }
}
