.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid $site-state-item-border-color;
    border-radius: 4px;

    i {
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: $site-state-item-border-color;

      i { color: white; }
    }
  }
}
